#email-link {
  color: #f58220 !important;
  text-decoration: none !important;
}

.body-content .card {
  border: none;
}

.card-header {
  background-color: #a6ce39;
  color: #fff;
  border-color: #a6ce39;
}

body {
  padding-bottom: 200px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
