body {
  color: #666;
  /*background-color: #666;*/
}

.thyme-button {
  height: 50%;
  margin: auto;
  background-color: #a6ce39;
  border-color: #a6ce39;
  color: #fff;
}

.thyme-button:hover, .thyme-button:focus, .thyme-button:active, .thyme-button.active, .open>.dropdown-toggle.thyme-button {
    color: #fff;
    background-color: #f58220;
    border-color: #f58220; /*set the color you want here*/
}

#page-title {
  background-position: center;
  background-size: cover;
}

#page-title h1 {
  color: white;
  text-align: center;
  font-size: 3em !important;
  font-weight: bold !important;
  padding-top: 20px;
}

.body-content{
  background-color: #fff;
}
.body-content h4 {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

#brand-logo {
  width: 70%;
  height: auto;
}

#navbarNavAltMarkup
{
    text-align: center;
    padding-top: 3%;
    margin: 0;
    vertical-align: bottom;
    font-size: 1.1rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
}

#active-nav-link {
  color: #f58220 !important;
  text-decoration: none !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: #f58220 !important;
}
