body {
  /*background-color: #f58220;*/
}

#active-nav-link {
  color: #f58220;
}

#page-title {
  background-image: url("https://raw.githubusercontent.com/Zoopers/somethyme/master/assets/thyme.jpg");
  background-position: center;
  background-size: cover;
}

#page-title h1 {
  color: white;
  text-align: center;
  font-size: 3em !important;
  font-weight: bold !important;
  padding-top: 20px;
}

#body-content{
  background-color: #fff;
}

#brand-logo {
  width: 70%;
  height: auto;
}

#navbarNavAltMarkup
{
    text-align: center;
    padding-top: 3%;
    margin: 0;
    vertical-align: bottom;
    font-size: 1.1rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
}
